<%-include(`header`)-%>
<div class="container">
    <h1 class="text-center">
        Hello
    </h1>
    <p class="text-center w-50 ms-auto me-auto">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci alias dolores facere fugiat minus optio quae similique voluptas. Dolorem doloremque et in ipsa nam natus necessitatibus nostrum pariatur sint tempora.</p>
</div>

<%-include(`footer`)-%>