<aside id="mobile-drawer">
    <nav>
        <ul>
            <li class="nav-item">
                <a href="/restaurants">Browse Restaurants</a>
            </li>
            <li class="nav-item">
                <a href="/recommendations">Share a Restaurant</a>
            </li>
            <li class="nav-item"><a href="/aboutus">About Eatwell</a></li>
        </ul>
    </nav>
</aside>