.body{
    margin: 0;
    font-family: 'Roboto', sans-serif;
    color: #393E46;
    background-color: #cbb6f4;
}

.mainHeader{
    background-color: #7446f6;
    color: #ffffff;
    padding: 2rem 5%;
}
