.body{
    margin: 0;
    font-family: 'Roboto', sans-serif;
    color: #393E46;
    background-color: #e1dbff;
}

.mainHeader{
    background-color: #7446f6;
    color: #ffffff;
    padding: 2rem 5%;
}

.btn{
    background-color: #7446f6;
}

.btn:hover{
    background-color: #5614bc;
}