<!doctype html>
<html lang="en">
<head>
    <%- include(`partials/head`) %>
</head>
<body>
<%- include(`partials/header`) %>
<%- include(`partials/nav`) %>
<main>
    <h1>Success!</h1>
    <p>Your restaurant was successfully added to our list!</p>
</main>
</body>
</html>