.bodyColor{
    background-color: #9e75f1 !important;
}

.hr {
    border-style: none;
    border-top-style: dotted;
    border-width: 5px;
    width: 10%;
    margin: 3rem auto;
}

.z-axis{
    z-index: -1;
}
.img-size{
    width: 20rem;
    height: 15rem;
    margin-top: 100px;
}