.bodyColor{
    background-color: #9e75f1 !important;
}

.hr {
    border-style: none;
    border-top-style: dotted;
    border-width: 5px;
    width: 10%;
    margin: 3rem auto;
}

.mtn-position{
    position: absolute;
    top: 10px;
    left: 25%;
    z-index: -1;
    opacity: 75%;
}
.cloud-position{
    position: absolute;
    top: 50px;
    right: 100px;
}
ul{
    list-style: none;
    display: table;
    justify-content: space-evenly;
    margin: 0 auto;
    text-align: left;
}