hr {
    border-color: white;
    border-style: none;
    border-top-style: dotted;
    border-width: 5px;
    width: 10%;
    margin: 3rem auto;
}

img{
    margin-right: 2rem;
}

body{
    background-color: #4ECCA3;

}

h1, h3 {
    color: lightgray;
    text-align: center;
}

table{
    margin: 0 auto;
}

ul{
    list-style: none;
    display: table;
    margin: 0 auto;
    text-align: left;

}

div{

}