hr {
    border-color: white;
    border-style: none;
    border-top-style: dotted;
    border-width: 5px;
    width: 10%;
    margin: 3rem auto;
}

img{
    margin-right: 2rem;
    border-radius: 5rem;
}

body{
    background-color: #4ECCA3;

}

h1, h3 {
    color: #186154;

}

table{
    margin: 0 auto;
}

div{
    list-style: none;
    display: table;
    justify-content: space-evenly;
    margin: 0 auto;
    text-align: left;
}

p, li{
    color: #535252;
}