
    <%- include(`partials/header`)%>
    <h1>Compose</h1>
    <form action="/compose" method="post" class="text-center input-group">
        <textarea name="blogPost" id="blogPost" cols="60" rows="10" placeholder="Speak Your Mind, Free Your Heart..."></textarea>
        <button class="btn composeBtn " type="submit">Publish</button>
    </form>
    <%- include(`partials/footer`)%>
