<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>New Profile</title>
  <link rel="stylesheet" href="/styles/base.css">
  <link rel="stylesheet" href="/styles/profiles.css">
  <script src="/scripts/file-preview.js" defer></script>
</head>
<body>
  <main id="new-user">
    <form action="/profiles" method="POST" enctype="multipart/form-data">
    <!-- enctype is a form attr used when uploading files. It tells the browser how to encode the data that is passed with the form-->
      <div class="form-control">
        <label for="username">Username</label>
        <input type="text" id="username" name="username" required>
      </div>
      <div class="form-control">
        <img id="img-preview" src="" alt="Your Image" >
        <label for="image">UserModel image</label>
        <input id="image" name="image" type="file" accept="image/jpg, image/png" required>
      </div>
      <button class="btn">Save UserModel</button>
    </form>
  </main>
</body>
</html>